# ==============================

# MuleSoft / Maven

# ==============================

target/
*.jar
*.war
*.zip

# Maven

.mvn/
dependency-reduced-pom.xml

# ==============================

# Logs

# ==============================

logs/
*.log

# ==============================

# Mule Runtime files

# ==============================

.mule/
*.tmp

# ==============================

# Anypoint Studio

# ==============================

.classpath
.project
.settings/
.metadata/

# ==============================

# VS Code

# ==============================

.vscode/

# ==============================

# IntelliJ

# ==============================

.idea/
*.iml
out/

# ==============================

# MacOS

# ==============================

.DS_Store

# ==============================

# Windows

# ==============================

Thumbs.db

# ==============================

# Node (if frontend included)

# ==============================

node_modules/

# ==============================

# Temporary files

# ==============================

*.swp
*.swo
*~
